html {
    height: 100%;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6b6969;
    color: white;
    text-align: center;
}

.body-scrolly {
    width: 500px;
    border: 15px solid orange;
    padding: 50px;
    margin: auto;
}

.navbar-brand {
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.navbar {
    color: orange;
    background-color: #db7e40;
    border-style: solid;
}
.nav {
    color: orange;
    background-color: orange;
}

div {
    margin: auto;
    align-content: center;
}
.navbar-toggler {
    background-color: papayawhip;
}

body {
background: rgb(219,126,64);
background: linear-gradient(180deg, rgba(219,126,64,1) 0%, rgba(246,248,249,1) 66%);
background-repeat: no-repeat;
background-size: cover;
height: 100%;
}

input {
    align-content: center;
    width: 25%
}

.img1 {
    width: 500px;
}

.img2 {
    position: sticky
}

